.container-right__content {
    padding: 30px 70px 30px;
 }

 .container-right__welcome {
     font-size: 2.6rem;
     letter-spacing: 1.5px;
     margin-top: 30px;
 }

 .container-right__form {
    margin-top: 20px;
} 

.form-btn {
    margin-top: 10px;
}

/* update profile */

.update-profile {
    background-image: url(../../assets/img/profile-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 40px 300px;
}

.update-profile__content {
    border-radius: 12px;
    background-color: var(--white-color);
    padding: 50px 70px;
}

.update-profile__heading {
    font-weight: bold;
    color: #029e91;
    font-size: 2.4rem;
}

.update-profile__img {
    height: 200px;
    width: 220px;
    margin-right: 40px;
    border-radius: 50%;
}

.update-profile__img-btn {
    display: block;
}


